<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- head fragment -->
<th:block th:replace="fragments/head :: headTitleFragment"></th:block>

<body>
<!-- header fragment -->
<th:block th:if="${form.useFdsYn != 'Y' and form.useKeyPadYn !='Y'}">
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
</th:block>
<th:block th:if="${form.useFdsYn == 'Y'}">
    <th:block th:replace="fragments/header-fds :: headerFdsFragment"></th:block>
</th:block>
<th:block th:if="${form.useKeyPadYn == 'Y'}">
    <th:block th:replace="fragments/header-keypad :: headerKeyPadFragment"></th:block>
</th:block>

<!-- contents fragment 사용 -->
<th:block layout:fragment="contents"></th:block>
<th:block layout:fragment="components"></th:block>
<th:block layout:fragment="pscript"></th:block>

<!-- footer fragment 사용 -->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>