<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="en">

<th:block layout:fragment="css">
<!--    <link th:inline="css" th:href="@{/lib/jquery-ui.min.css}" />-->
</th:block>
<th:block layout:fragment="script">
<!--    <script th:src="@{/lib/jquery-3.7.1.min.js}"></script>-->
<!--    <script th:src="@{/lib/jquery-ui.min.js}"></script>x`-->
    <script>
        $(document).ready(function () {
            console.log("creditcard-reg page load.");
            if('Y' === '[[${chngBillKeyYn}]]') {
                $('#directInputConts').show();
            } else {
                $('#ocrScanConts').show();
            }
        });
    </script>
</th:block>

<!-- Content -->
<div layout:fragment="page">
    <h1>creditcard-reg page</h1>
    <th:block th:replace="pages/contents/creditcard-ocr-scan :: creditcardOcrScanContents"></th:block>
    <th:block th:replace="pages/contents/creditcard-direct-input :: creditcardDirectInputContents"></th:block>
    <th:block th:replace="pages/contents/creditcard-simple-reg :: creditcardSimpleRegContents"></th:block>
    <script>
        $('#chngContsDirectInput1, #chngContsDirectInput2').click(function () {
            $('#simpleRegConts').hide();
            $('#ocrScanConts').hide();
            $('#directInputConts').show();
        });
        $('#chngContsOcr1, #chngContsOcr2').click(function () {
            $('#simpleRegConts').hide();
            $('#directInputConts').hide();
            $('#ocrScanConts').show();
        });
        $('#chngContsSimpleReg1, #chngContsSimpleReg2').click(function () {
            $('#directInputConts').hide();
            $('#ocrScanConts').hide();
            $('#simpleRegConts').show();
        });
    </script>
</div>

</html>