<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="en">

<!-- css -->
<th:block layout:fragment="css">
<!--    <link th:inline="css" th:href="@{/lib/jquery-ui.min.css}" />-->
</th:block>

<!-- Main Page -->
<article layout:fragment="contents">
    <div>
        <h1>billing-signup page</h1>
    </div>
</article>

<!-- Component -->
<article layout:fragment="components">
    <!-- 핀 입력 컴포넌트 -->
    <th:block th:include="components/input-keypad :: inputKeypadContents"></th:block>
</article>

<!-- Script -->
<th:block layout:fragment="pscript">
    <!--    <script th:src="@{/lib/jquery-3.7.1.min.js}"></script>-->
    <!--    <script th:src="@{/lib/jquery-ui.min.js}"></script>x`-->
    <script th:inline="javascript">
        $(document).ready(function () {
            console.log("billing-signup page load.");
            console.log($('#txt').text());
            tstname();

            console.log("wtid : " + inputKeypad.wtid);
        });
    </script>
</th:block>


</html>