<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/creditcard}" lang="en">

<!-- css -->
<th:block layout:fragment="css"></th:block>

<!-- Main Page -->
<article layout:fragment="contents">
    <div>
        <h1>creditcard-reg page</h1>
    </div>
</article>

<!-- Component -->
<article id="ocrScanConts" layout:fragment="components-ocr" th:styleappend="${form.data.billKeyChngYn == 'Y' ? 'display:none' : 'display:block'}">
    <th:block th:include="components/creditcard-ocr-scan :: creditcardOcrScanContents"></th:block>
</article>
<!-- Component -->
<article id="directInputConts" layout:fragment="components-input" th:styleappend="${form.data.billKeyChngYn == 'Y' ? 'display:block' : 'display:none'}">
    <th:block th:include="components/creditcard-direct-input :: creditcardDirectInputContents"></th:block>
</article>
<!-- Component -->
<article id="simpleRegConts" layout:fragment="components-simple" th:styleappend="${form.data.billKeyChngYn == 'Y' ? 'display:none' : 'display:block'}">
    <th:block th:include="components/creditcard-simple-reg :: creditcardSimpleRegContents"></th:block>
</article>

<th:block layout:fragment="pscript">
    <script th:inline="javascript">
        $('#chngContsDirectInput1, #chngContsDirectInput2').click(function () {
            $('#simpleRegConts').hide();
            $('#ocrScanConts').hide();
            $('#directInputConts').show();
        });
        $('#chngContsOcr1, #chngContsOcr2').click(function () {
            $('#simpleRegConts').hide();
            $('#directInputConts').hide();
            $('#ocrScanConts').show();
        });
        $('#chngContsSimpleReg1, #chngContsSimpleReg2').click(function () {
            $('#directInputConts').hide();
            $('#ocrScanConts').hide();
            $('#simpleRegConts').show();
        });
        $(document).ready(function () {
            console.log('creditcard-reg page load.');
        });
    </script>
</th:block>

</html>