<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/payment}" lang="en">

<!-- Content -->
<article layout:fragment="contents">
    <h1>payment page</h1>
</article>

<!-- Component -->
<article layout:fragment="components">
    <!-- 핀 입력 컴포넌트 -->
    <th:block th:include="components/input-keypad :: inputKeypadContents"></th:block>
</article>


<th:block layout:fragment="pscript">
    <script>
        $(document).ready(function () {
            console.log("wtid : " + inputKeypad.wtid);
        });
    </script>
</th:block>

</html>